
<div class="container">
	<h1 class="mgb_30">Twiby</h1>
	<hr class="mgb_30">
	<h2 class="mgb_50">The best place to yell what you want</h2>
	<form class="">
	    <input type="text"  placeholder="USERNAME">
	    <input type="password" placeholder="PASSWORD">
	    <button type="submit">Login</button>
	</form>
	<a href="#"> Create an account</a>

	<p>Find me in app/views/pages/index.html.erb</p>

</div>