// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




$grey: #f6f4f4;
$grey_font: #8c8c8c;
$grey_element_yell: #dfdfdf;
$green:#23ee83;
$green_dark:#54b4b4;
$yellow:#fcfa26;
$yellow_dark:#ecea03;
$red:#ee5043;


@mixin transition($transition) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

@mixin din { 
  font-family: “DINRegular”, Verdana, Arial, sans-serif;
}


@font-face {
    font-family: 'dinregular';
    src: url('../fonts/dinregularalternate-webfont.eot');
    src: url('../fonts/dinregularalternate-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dinregularalternate-webfont.woff') format('woff'),
         url('../fonts/dinregularalternate-webfont.ttf') format('truetype'),
         url('../fonts/dinregularalternate-webfont.svg#dinregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'dinlight';
    src: url('../fonts/dinlight-webfont.eot');
    src: url('../fonts/dinlight-webfont.eot?#iefix') format('embedded-opentype'),
        
         url('../fonts/dinlight-webfont.woff') format('woff'),
         url('../fonts/dinlight-webfont.ttf') format('truetype'),
         url('../fonts/dinlight-webfont.svg#dinlight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'dinmedium';
    src: url('../fonts/dinmedium-webfont.eot');
    src: url('../fonts/dinmedium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dinmedium-webfont.woff') format('woff'),
         url('../fonts/dinmedium-webfont.ttf') format('truetype'),
         url('../fonts/dinmedium-webfont.svg#dinmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-wwnz3o');
	src:url('../fonts/icomoon.eot?#iefix-wwnz3o') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-wwnz3o') format('woff'),
		url('../fonts/icomoon.ttf?-wwnz3o') format('truetype'),
		url('../fonts/icomoon.svg?-wwnz3o#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-trash:before {content: "\74";}
.icon-star:before {content: "\73";}
.icon-perso:before {content: "\70";}
.icon-off:before {content: "\6f";}
.icon-edit:before {content: "\65";}
.icon-check:before {content: "\63";}
.icon-megaphone:before {content: "\6d";}



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'dinregular';
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* Don't kill focus outline for keyboard users: http://24ways.org/2009/dont-lose-your-focus */
a:hover, a:active {
    outline: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


body {
	background-color: #60d4d4;
	width: 100%;
}

hr{
	width: 15px;
	border:1px solid #90e1e1;

}

.mgb_15{
	margin-bottom:15px;
}
.mgb_20{
	margin-bottom:20px;
}
.mgb_50{
	margin-bottom:50px;
}

.left_part{
	float: left;
	.logo{
		width: 50px;
		height: 50px;
	}

}
.right_part{
	float: right;
	
}

.clear {
  clear: both;
  }

header{
	padding: 30px;
	color:#fff;
	min-height: 150px;
	// box-shadow: 0 2px 5px rgba(0,0,0,0.26);
	h1, h2 {
		text-align: center;
		text-transform: uppercase;
		font-family: 'dinmedium';
	}
	h2{
		font-size: 18px;
		font-family: 'dinlight';
		line-height: 25px;
	}
}

.logo{
	a{
		background-image: url(/logo-big.png);
		background-repeat: no-repeat;
		background-size: 100%;
		margin: 0 auto;
		margin-bottom: 20px;
		width: 50px;
		height: 50px;
	}
}
.connect{
	height: 100%;
	.title{
		color: $yellow;
		font-size: 38px;
		letter-spacing: 2px;
	}
	.form-inputs{
		label{
			display: none;
		}
		.user_remember_me{
			#user_remember_me{
				display: inline;
				width: 25px;
			}			
		}
	}
	.form-actions{
		.btn{
			padding: 15px;
			border-radius: 0;
			font-family: 'dinmedium';
			text-transform: uppercase;
			font-size: 16px;
			background-color: $yellow;
			border: none;
			border-bottom: 4px solid #dcda2b;
			color: $red;
			@include transition(all .5s);
			&:hover{
				cursor: pointer;
				background-color: darken($yellow, 10%);
				border-bottom: 4px solid darken(#dcda2b, 10%);
				box-shadow: 0.28s cubic-bezier(0.4, 0, 0.2, 1);
				@include transition(all .5s);
			}
		}
	}
}
.sign_in{
	a{
		text-align: center;
		color: #afafaf;
		text-decoration: none;
	}
}
.container{
	//width: 90%;
	margin: 0 auto;	
	position: relative;
	.yell_it_btn{
		position: fixed;
		background-image: url(/logo-big.png);
		background-size: 100%;
		background-repeat: no-repeat;
		border-radius: 50px;
		width: 50px;
		height: 50px;
		bottom: 50px;
		right: 0px;	
		box-shadow: 0 2px 5px rgba(0,0,0,0.26);
		display: none;
	}
	input,button{
		border: none;
		width: 100%;
		padding: 15px;
		display: block;
		margin-bottom: 20px;
		box-sizing: border-box;
	}
	button{
		text-transform: uppercase;
		&:hover{
			cursor: pointer;
		}
	}
	input{
		font-family: 'dinmedium';
		font-size: 14px;
	}
	a{
		display: inherit;
		text-transform: uppercase;
	}
	.profile_button{
		display: flex;
		background-color: $green_dark;
		@include transition(all .5s);	
		&:hover{
			background-color: darken($green_dark, 10%);
			cursor: pointer;
			@include transition(all .5s);
		}
		a{
			color: #fff;
			padding:15px;
			text-decoration: none;
		}
		i{
			flex: 1;
			margin-right: 10px;
		}
	}
	.yell_form{
		padding:20px;
		background-color: #FFF;
		margin-bottom: 30px;
		margin-top: -60px;
		overflow: hidden;
		display: none;
		textarea{
			width: 100%;
			height: 100px;
			font-size: 14px;
			margin-bottom: 15px;
			padding:10px;
			box-sizing: border-box;
			background-color: #f6f4f4;
			color: #c5c4c4;
			border:none;
			resize: none;
		}
		.btn{
			float: right;
			width: auto;
			margin:0;
			background-color: #23ee83;
			color: #fff;
			border:none;
			border-bottom:3px solid #21dc79;
			text-transform: uppercase;
			&:hover{
				background-color: darken($green, 10%);
				border-bottom: 3px solid darken(#21dc79,10%);
				cursor: pointer;
			}
		}
		.nb_caract{
			margin-bottom: 15px;
			text-align:right;
			color: $grey_element_yell;
		}
	}
	.yell_list{
		background-color: #FFF;
		padding:20px;
		ul{
			padding:20px;
		}
		li{
			display: flex;
			display: -webkit-flex;
			margin-bottom:30px;
			padding-bottom: 30px; 
			border-bottom:1px solid $grey;
			.user_picture{
				width: 70px;
				img{
					border-radius:50px;
					background-size: 100%;
					width: 50px;
					height: 50px;
					margin-top: -10px;
				}
			}
			.user_content{
				width:50px;
				flex:1;
				word-wrap: break-word;					
				p{
					display: inline;
					color:$grey_element_yell;
				}
				.head_yell{
					margin-bottom: 15px;
					overflow: hidden;
					.user_name{
						float:left;
						a{
							display: inline;
							color: $green;
							text-transform: capitalize;
							text-decoration: none;
							:hover{
								cursor: pointer;
							}
						}						
					}
					.yell_time{
						float:right;
					}
				}
				.user_yell{
					color: $grey_font;
					line-height: 21px;
					.user_actions{
						margin-top: 15px;
						.favorite{
							&:hover{								
								color: $grey_font;
							}								
						}
						a{
							display: inline;
							text-decoration: none;
							color:$grey_element_yell;
							font-size: 18px;
							&:last-child{
								float:right;
							}
						}
						i:hover{
							color: $grey_font;
							cursor: pointer;
						}
						.form_delete{
							float:right;

							button{
								font-size:1rem;
								color:$grey_element_yell;
								background:none;
								width:auto;
								padding:0;
								margin:0;
							}
						}

					}
				}
			}
		}
	}
	.profile_user{
		a{
			color: #fff;
			text-decoration:none;
		}
		.header_profil_user{
			display: flex;
			margin-bottom: 20px;
			i{
				border: 1px solid #fff;
				border-radius:50px;
				padding:10px;
				margin-top: 10px;
			}
			.user_logout, .user_edit_profile{
				flex:1;
				margin-top: 45px;
				text-align: center;
			}
			.user_picture{
				flex:auto;
				text-align: center;
				img{
					border-radius:50px;
					border:5px solid #90e1e1;
					background-size: 100%;
					height: 90px;
					width: 90px;
					margin: 0 auto;
				}
			}
		}
		.user_name{
			margin: 0 auto;
			margin-bottom: 15px;
			text-align: center;
			font-size: 24px;
			color:#fff;
			text-transform: capitalize;
			font-family: 'dinmedium';
		}
		.user_description{
			text-align: center;
			margin: 15px 0 50px 0;
		}
		.to_follow{
			input{
				width:auto;
				margin: 0 auto;
				margin-bottom: 50px;
			}
			.follow{
				color: #fff;
				padding: 15px 40px;
				background-color: $yellow;
				border-bottom:3px solid darken($yellow,10%);
			}
			.unfollow{
				background-color: #60d4d4;
				color: $green;
			}
		}
		.follow{
			display:flex;
			margin-bottom: 50px;
			.following, .follower{
				flex:1;
				text-align: center;
				text-transform: uppercase;
			}
			.follower{
				border-left: 1px solid #90e1e1;
			}
		}
	}

	.yell_something{
		padding:20px;
		margin-top: -50px;
		margin-bottom: 40px;
		font-family: 'dinmedium';
		color: $red;
		background-color: $yellow;
		border-bottom:3px solid darken($yellow, 10%);
		font-size: 14px;
		letter-spacing: 2px;
		@include transition(all .5s);
		&:hover{
			background-color: $yellow_dark;
			border-bottom:3px solid darken($yellow_dark, 10%);
			// transform: rotateX(85deg);
			@include transition(all .5s);
		}
	}
}
.yell_index{
	background-color: $grey;
	padding:20px;

}
.users_twib{
	text-align:center;
	color:$grey_font;
	text-transform:uppercase;
	margin-bottom:40px;
	.users_nb_twib{
		color: $grey_element_yell;
	}
}

.modal_box{
	position: fixed;
	z-index: 9998;
	top: 0;
	left: 0;
	display:none;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.6);
	p{
		position: fixed;
		top: 40px;
		left: 50%;
		margin-left: -8px;
		color: #fff;
		font-size: 2em;	
	}
	.modal_follower,
	.modal_following,
	.modal_edit_profile{
		position: absolute;
		z-index: 9999;
		top: -50%;
		left: 50%;
		margin:0 auto;
		margin-left: -35%;
		display:none;
		max-height: 300px;
		width: 70%;
		padding: 24px 20px;
		border-radius: 2px;
		background: #fff;
		box-sizing: border-box;
		overflow: auto;
		@include transition(all .5s);
		h4{
			text-align:center;
			color: $grey_font;
			text-transform: uppercase;
			margin-bottom:30px;
		}
		.followers_box,
		.following_box{
			display: flex;
			flex-wrap: wrap;
			justify-content:space-between;
			figure{
				flex: 1 120px;
				text-align: center;
				flex-wrap: wrap;
				margin-bottom: 40px;
				a{
					text-decoration: none;
				}
				figcaption{
					color:$green;
				}
			}	
		}
		.edit_profile_box{
			input,button,textarea{
				border: none;
				width: 100%;
				padding: 15px;
				display: block;
				margin-bottom: 20px;
				box-sizing: border-box;
			}
			label{
				color: $grey_element_yell;

			}
			button{
				text-transform: uppercase;
				&:hover{
					cursor: pointer;
				}
			}
			input,textarea{
				font-family: 'dinmedium';
				background-color: $grey;
				color:$grey_font;
				font-size: 14px;
				padding-top: 20px;
			}
		}

	}
	.modal_window_visible{
		top:33%;
		@include transition(all .5s);
	}
	.visible{
		opacity:1;
	}
}

@media (min-width: 700px) {
	.container{
		width: 700px;
	}
}

