// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




$grey: #f6f4f4;
$grey_font: #dfdfdf;
$green:#23ee83;
$yellow:#fcfa26;
$red:#ee5043;


@mixin transition($transition) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* Don't kill focus outline for keyboard users: http://24ways.org/2009/dont-lose-your-focus */
a:hover, a:active {
    outline: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


body {
	background-color: #60d4d4;
	width: 100%;
}

hr{
	width: 15px;
	border:1px solid #90e1e1;

}

.mgb_15{
	margin-bottom:15px;
}
.mgb_20{
	margin-bottom:20px;
}
.mgb_50{
	margin-bottom:50px;
}

header{
	padding: 30px;
	color:#fff;
	margin-bottom:30px;
	// box-shadow: 0 2px 5px rgba(0,0,0,0.26);
	h1, h2 {
		text-align: center;
		text-transform: uppercase;

	}
}
.connect{
	height:100%;
	.title{
		color:$yellow;
	}
	.form-inputs{
		label{
			display: none;
		}
		.user_remember_me{
			#user_remember_me{
				display: inline;
				width: 25px;
			}			
		}
	}
	.form-actions{
		.btn{
			padding:15px;
			border-radius:0;
			text-transform:uppercase;
			background-color: $yellow;
			border:none;
			border-bottom:4px solid #dcda2b;
			color: $red;
			@include transition(all .5s);
			
			&:hover{
				cursor: pointer;
				background-color: darken($yellow, 10%);
				border-bottom:4px solid darken(#dcda2b, 10%);
				box-shadow: 0.28s cubic-bezier(0.4, 0, 0.2, 1);
				@include transition(all .5s);
			}
		}
	}
}

.sign_in{
	a{
		text-align:center;
		color:#afafaf;
		text-decoration: none;
	}
}
.container{
	width: 90%;
	margin: 0 auto;	
	input,button{
		border:none;
		width: 100%;
		padding:15px;
		display: block;
		margin-bottom: 20px;
		box-sizing: border-box;
	}
	button{
		text-transform:uppercase;
		&:hover{
			cursor: pointer;
		}
	}

	a{
		display: inherit;
		text-transform: uppercase;
	}
	.yell_form{
		padding:30px;
		background-color: #FFF;

		textarea{
			width: 100%;
			height: 100px;
			font-size: 14px;
			margin-bottom: 15px;
			padding:10px;
			box-sizing: border-box;
			background-color: #f6f4f4;
			color: #c5c4c4;
			border:none;
			resize: none;
		}
		.btn{
			width: 110px;
			margin:0;
			background-color: #23ee83;
			color: #fff;
			border:none;
			border-bottom:3px solid #21dc79;
			text-transform: uppercase;
		}
		.nb_caract{
			margin-bottom: 15px;
			text-align:right;
			color: $grey_font;
		}
	}
	.yell_list{
		background-color: #FFF;
		padding:30px;
		ul{
			padding:30px;
		}
		li{
			margin-bottom:30px; 
			border-bottom:1px solid $grey_font;
		}
	}
}
.yell_index{
	background-color: $grey;
	padding:30px;

}


